## list 
* iteration operation with loops
* apply any operation in element

In [22]:
names : list[str] = ["prince", "taha", "dhuruv", "razak"]
print(names)

['prince', 'taha', 'dhuruv', 'razak']

In [23]:
names : list[str] = ["prince", "taha", "dhuruv", "razak"]

for name in names:
    print(name)

prince
taha
dhuruv
razak

In [ ]:
for name in names:
    print(f'welcome dear friend {name.title()}')
    print("friends forever\n")
print("pakistan zindabad")

In [ ]:
data_base : list(str,str) = [("prince" , "345"),
                                    ("taha" , "674"),
                                    ("fahad" , "498")]

for row in data_base:
    print(row)

In [2]:
input_user : str = input("Enter your name")
print(input_user)

prince

In [2]:
data_base : list[(str,str)] = [("prince","876" ),
                                    ("taha","564"),
                                    ("fahad","654")
                                    ]

input_user : str = input("Enter your name")
input_password :str = input("Enter your password")

for row in data_base:
    user,password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Invalid User")

Invalid User

In [30]:
names : list[str] = ["prince","876","rafay"]

for name in names:
    print(names)
else:
    print("hello world")

['prince', '876', 'rafay']
['prince', '876', 'rafay']
['prince', '876', 'rafay']
hello world

In [31]:
names : list[str] = ["prince","876","rafay"]

for name in names:
    print(names)
    break
else:
    print("hello world")

['prince', '876', 'rafay']

In [1]:
names : list[str] = ["prince","876","rafay"]

for name in names:
    print(names)
    break

print("hello world")

['prince', '876', 'rafay']
hello world

In [3]:
magicians : list [str] = ["alice", "david", "carolina"]

for magician in magicians :
    print(f"{magician.title()}, that was a great trick" )

print(f"I cant wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick
David, that was a great trick
Carolina, that was a great trick
I cant wait to see your next trick, Carolina.

In [1]:
magicians : list [str] = ["alice", "david", "carolina"]

for magician in magicians:
    print(f"{magician.title()}, that was a great trick")
    print(f"I cant wait to see your next trick, {magician.title()}.\n")

print("thank you everyone that was a great magic show !")

Alice, that was a great trick
I cant wait to see your next trick, Alice.

David, that was a great trick
I cant wait to see your next trick, David.

Carolina, that was a great trick
I cant wait to see your next trick, Carolina.

thank you everyone that was a great magic show !

## Number with loop
* range(start, end, step)

In [3]:
range(10)

range(0, 10)

In [5]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list (range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list (range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
for range in range (2,21,2):
    print(range)

2
4
6
8
10
12
14
16
18
20

In [15]:
magicians : list [str] = ["alice", "david", "carolina"]
list (enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [16]:
magicians : list [str] = ["alice", "david", "carolina"]
for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

In [4]:
#  error
for n in range(2, 11):
    print(n)

2
3
4
5
6
7
8
9
10

In [5]:
# error
for n in range(1, 11):
    print(f"{2} X {n}, {n*2}")

2 X 1, 2
2 X 2, 4
2 X 3, 6
2 X 4, 8
2 X 5, 10
2 X 6, 12
2 X 7, 14
2 X 8, 16
2 X 9, 18
2 X 10, 20

In [ ]:
# error
square:list[int] = []
for value in range(1 , 11):
    squares = value ** 2
    squares.append(square)
print(squares)

## list comprehensive

for item in item list
    loops_body


## comprehensive style

[loops_body for item in item list]

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for i in range(1,11):
    print (i**2)

1
4
9
16
25
36
49
64
81
100

In [6]:
[i**2 for i in range (1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
digits : list [int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print (digits)
print (max(digits))
print (min(digits))
print (sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [14]:
my_foods = ["pizza", "falafel", "carrot cake"]
friends_foods = my_foods[:]

print(my_foods)
print(friends_foods)

friends_foods [0] = "tikka"

print(my_foods)
print(friends_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['tikka', 'falafel', 'carrot cake']

## Tuples

In [20]:
names : tuple[str] = ("A", "B", "C")
print(names[0])

A

In [21]:
names : tuple[str] = ("A", "B", "C")
print(names[0:2])

('A', 'B')

In [27]:
names : tuple[str] = ("A", "B", "C")

names : tuple[str] = ("pakistan", "B", "C")

print(names)

('pakistan', 'B', 'C')

In [28]:
from typing import Any

data : tuple [Any] = ("A", [1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [37]:
data : tuple [Any] = ("A", [1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [2]:
from colorama import Fore

print(Fore.BLUE + "prince")
print(Fore.RED + "prince")
print(Fore.GREEN + "prince")
print(Fore.BLACK + "prince")
print(Fore.YELLOW + "prince")
print(Fore.CYAN + "prince")
print(Fore.WHITE + "prince")

prince
prince
prince
prince
prince
prince
prince