## python divides the operators in the following groups:

* Arithmatis operators
* Assignments operators
* Comperison operators
* Logical operators
* Identity operators
* memership operators
* Bitwise opeartors

In [ ]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table(0)

In [3]:
a = int = 7
b = int = 4

print (a + b)
print (a - b)
print (a * b)
print (a / b)

11
3
28
1.75

In [4]:
a : int = 11
b : int = 3

print (a % b)

2

In [5]:
a : int = 11
b : int = 3

print (a % 3)

2

In [6]:
print (2**2)
print (2**3)

4
8

In [7]:
print (14 / 3)

4.666666666666667

In [8]:
print (14 // 3)

4

In [9]:
print (14.8 / 3)

4.933333333333334

In [10]:
print (14.8 // 3)

4.0

##  Python Assignment Operator

In [11]:
a : int = 7
print (a)
a = a + 2
print (a)

7
9

In [12]:
a : int = 7
print (a)
a += 2
print (a)

7
9

In [13]:
a : int = 7
print (a)
a << 2
print (a)

7
7

In [14]:
a : int = 7
print (a)
a >> 2
print (a)

7
7

In [15]:
a : int = 7
print (b := 1000)

1000

## Python Comparison Operators

In [16]:
a : int = 8
b : int = 10

print (a == b)

False

In [17]:
a : int = 10
b : int = 10

print (a == b)

True

In [18]:
a : int = 10
b : str = '10'

print (a == b)

False

In [19]:
a : int = 10
b : int = 10

print (a != b)

False

In [20]:
a : int = 10
b : int = 12

print (a > b)

False

In [22]:
a : int = 10
b : int = 10

print (a > b)

False

In [23]:
a : int = 9
b : int = 12

print (a < b)

True

In [24]:
a : int = 10 
b : int = 10

print (a >= b)

True

In [25]:
a : int = 10 
b : int = 10

print (a <= b)

True

ASCII CODE

'''A = 65
Z = 90

a = 97
z = 122

0 = 45 
9 = 57
'''

In [26]:
ord("A")

65

In [27]:
chr (65)

'A'

In [28]:
a : str = "A"
b : str = "B"

print(b >= a)

True

In [29]:
a : str = "A"
b : str = "a"

print(b >= a)

True

## Python Logical Operators

In [30]:
# and = (Important)
# or = optional
#1         2        3        4
True and True and True and True

True

In [31]:
# and = (Important)
# or = optional
#1         2        3        4
print(True and True and True and True)
print(False and True and False and True)
print(True and True and False and True)

True
False
False

In [32]:
# and = (Important)
# or = optional
#1         2        3        4
print(True and True and True and True)
print(False and True and False and True)
print(True and True and False and True)

True
False
False

In [33]:
# and = (Important)
# or = optional
#1         2        3        4
print(True or True or True or True)
print(False or True or False or True)
print(True or True or False or True)

True
True
True

In [ ]:
# and = (Important)
# or = optional
#1         2        3        4
print(True and True and True and True)
print(False and False and False and False)
print(True and False and False and True)

In [34]:
not True

False

In [35]:
not False

True

In [36]:
name : str = "Prince"
print(not name == "Prince")

False

In [37]:
name : str = "Prince"
print(name == "Prince")

True

In [38]:
name : str = "Prince"
print(not name == "Prince")

False

In [39]:
name : str = "Taha"
print(not name == "Prince")

True

In [40]:
p : str = "abc"
u : str = "abc"

print(id(p))
print(id(u))

p is u

140712578217056
140712578217056

True

In [41]:
p is u

True

In [42]:
x : str = "abc"
z : str = "abc"

print(id(x))
print(id(z))

x is not z

140712578217056
140712578217056

False

In [43]:
a : str = "abc"
b : str = "xyz"

print(id(a))
print(id(b))

a is b

140712578217056
3038871405984

False

## Python Membership Operators

In [44]:
names : list[str] = [chr(i) for i in range (65,91)]
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [45]:
names : list[str] = [chr(i) for i in range (65,91)]
for i in range(len(names)):
    print(i, names [i])
    if names[i] == "D":
       print("True")
       break

0 A
1 B
2 C
3 D
True

In [46]:
names : list[str] = [chr(i) for i in range (65,91)]
"D" in names

True

In [47]:
names : list[str] = [chr(i) for i in range (65,91)]
"Pakistan" in names

False

In [49]:
names : list [str] = ["Prince", "taha", "dhuruv"]
uput : str = input ("Enter Your Name")
uput in names

False

In [50]:
names : list [str] = ["Prince", "taha", "dhuruv"]
uput : str = input ("Enter Your Name")
uput not in names

True

## Pemdas

In [51]:
print(3 + 2 - 2 * 4/ 2 + 2)

3.0

In [52]:
print((6 + 3) - (6 + 3))

0

In [53]:
universe_age : str = 14_000_000_000
print(universe_age)

14000000000

In [54]:
## toppols

a , b , c = "prince", 5 , 3.0
print(a)
print(b)
print(c)

prince
5
3.0

In [55]:
"prince", 5 , 3.0

('prince', 5, 3.0)

In [56]:
data = ("prince" , 5 , 3.0)
print(data[0], data[1], data[2])

prince 5 3.0

In [57]:
data = ("prince" , 5 , 3.0)
print(*data)

prince 5 3.0

## Walrus Operators

In [58]:
a : int = 10
if (a < (b := a+5)):
    print (b)
else :
    print("else is working")

15

In [59]:
b

15

In [60]:
a : int = 10
if (a > (b := a+5)):
    print (b)
else :
    print("else is working")

else is working

In [61]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!