In [1]:
name1 : str = "prince"
name2 : str = "dhuruv"
name3 : str = "taha"
name4 : str = "rafay"

## list
* varaibles `names[start,end,step]`
* dynamic lenght 
* hytrogenous data type
* index
     *positive 0 to n-1
     *negative -1 to lenght
* slicing
     * start : include
     * end : n-1
     * step : sequance

In [7]:
# ->         0         1        2       3
names = ["prince", "dhuruv", "taha", "rafay"]
# <-        -4       -3         -2       -1

print(names[(0)])
print(names[(-4)])
print(names[(1)])
print(names[(-3)])
print(names[(2)])
print(names[(-2)])
print(names[(3)])
print(names[(-1)])

prince
prince
dhuruv
dhuruv
taha
taha
rafay
rafay

In [1]:
from typing import Any

# ->                     0          1        2        3
names : list [any] = ["prince", "dhuruv", "taha", "rafay"]
# <-                     -4        -3      -2         -1

print(type(names[-4]))
print(type(names))
print(f"Mr karachi {names[-4].upper()}")

<class 'str'>
<class 'list'>
Mr karachi PRINCE

In [2]:
from typing import Any

# ->                     0          1        2        3
names : list [any] = ["prince", "dhuruv", "taha", "rafay"]
# <-                     -4        -3      -2         -1

print(type(names[-4]))
print(type(names))
print(f"Mr karachi {names[-4].upper()}")

<class 'str'>
<class 'list'>
Mr karachi PRINCE

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

In [4]:
#                      0    1    2    
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                    -26    -25  -24                                                                                                                        -1
print(characters[0:2])
print(characters[:2])
print(characters[-26:-24])
print(characters[0:2:1])
print(characters[0:2:])

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [5]:
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[ : : ])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [3]:
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[ : : ])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [7]:
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[ : : 2 ])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [8]:
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[: : -1])

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [8]:
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[: : -2])

['Z', 'X', 'V', 'T', 'R', 'P', 'N', 'L', 'J', 'H', 'F', 'D', 'B']

In [12]:
#                      0     1    2    3    4    5    6    7
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                     -8   -7   -6   -5   -4   -3   -2   -1 

print(characters[1:-3])

['B', 'C', 'D', 'E']

In [2]:
#                      0     1    2    3    4    5    6    7
characters : [str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                     -8   -7   -6   -5   -4   -3   -2   -1 

print(characters[-2:-5:-1])

['G', 'F', 'E']

## List Methods

In [28]:
[i for i in dir(list) if "___" not in i ]

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
a : list[str] = ['a', 'b', 'c', 'd']
a.clear()
print(a)

[]

# Help
* help(object)
* object? 
* object??
* ?object
* ??object

In [35]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [20]:

# ->                     0          1        2        3
names : list [any] = ["prince", "dhuruv", "taha", "rafay", 100, True]
print(names)
# <-                     -4        -3      -2         -1

names[0] = "prince chouhan"
print(names)

['prince', 'dhuruv', 'taha', 'rafay', 100, True]
['prince chouhan', 'dhuruv', 'taha', 'rafay', 100, True]

In [21]:

# ->                     0          1        2        3
names : list [any] = ["prince", "dhuruv", "taha", "rafay", 100, True]
print(names)
# <-                     -4        -3      -2         -1
del names[4] 
print(names)

['prince', 'dhuruv', 'taha', 'rafay', 100, True]
['prince', 'dhuruv', 'taha', 'rafay', True]

In [25]:
a : str = ("pakistan") # non return function
display(a)

'pakistan'

In [27]:
a : str = id(names) # return fuction
display(a)

2039518069632

## Pop Method

In [42]:

# ->                     0          1        2        3
names : list [any] = ["prince", "dhuruv", "taha", "rafay", 100, True]
print(names)
# <-                     -4        -3      -2         -1

a : str = names.pop(4)
print(a)
print(names)

['prince', 'dhuruv', 'taha', 'rafay', 100, True]
100
['prince', 'dhuruv', 'taha', 'rafay', True]

## append method add element in last

In [47]:
names : list[str] = ["a , b"] 

names.append("razak")
names.append(200)
names.append("abc")

print(names)

['a , b', 'razak', 200, 'abc']

In [53]:
names : list[str] = ['a' , 'b' , 'c' , 'd']

print(names)
names.insert(4, "e")
print(names)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [58]:
# copy

a : list[str] = ['a','b','c']

b=a
print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']

In [62]:
a : list[str] = ['a','b','c']

b=a
print(a)
print(b)

b[0] = "pakistan" # change only b variable but both updatedprint(a)



print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['pakistan', 'b', 'c']
['pakistan', 'b', 'c']

In [64]:
a : list[str] = ['a','b','c']

b = a.copy() #deep copy
print("a",a)
print("b",b)

b[0] = "pakistan" # change only b variable but both updatedprint(a)



print("a",a)
print("b",b)

a ['a', 'b', 'c']
b ['a', 'b', 'c']
a ['a', 'b', 'c']
b ['pakistan', 'b', 'c']

In [70]:
# count

names : list[str] = ['a', 'a', 'a', 'b', 'c', 'c']
print(names.count("a"))
print(names.count("c"))
print(names.count("b"))

3
2
1

In [81]:
# extend

names : list[str] = ["prince", "rafay"] # pro gymmers

new_faculaty_members : list[str] = ['rafiq', "razak"]

names.append(new_faculaty_members)

print(names)

['prince', 'rafay', ['rafiq', 'razak']]

In [82]:

# extend

names : list[str] = ["prince", "rafay"] # pro gymmers

new_faculaty_members : list[str] = ['rafiq', "razak"]

names.extend(new_faculaty_members)

print(names)

['prince', 'rafay', 'rafiq', 'razak']

In [84]:
# remove

names : list[str] = ['prince', 'rafay', 'rafiq', 'razak']
names.remove("rafiq") # remove with text value
print(names)

['prince', 'rafay', 'razak']

In [86]:
# index
names : list[str] = ['prince', 'rafay', 'rafiq', 'razak']
names.index("rafiq") # remove with text value

2

In [91]:
names : list[str] = ['prince', 'rafay', 'rafiq', 'razak', 'prince']
names.index("prince",1)

4

In [95]:
# reverse
names : list[str] = list("ABCD")

print(names)
names.reverse()
print(names)

['A', 'B', 'C', 'D']
['D', 'C', 'B', 'A']

In [96]:
#sort
names : list[str] = list("ABCD")

print(names)
names.sort()
print(names)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [97]:
# pakistani jugaar 
print(names)
names.sort(reverse=True)
print(names)

['A', 'B', 'C', 'D']
['D', 'C', 'B', 'A']